<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../template/template_CSS/test_style.css">
    
</head>
<body>
    <!-- 상단 -->
    <header>
        <h1>상단</h1>
        <hr>
    </header>
    <!-- 가운데 들어갈 html -->
    <main>
        <iframe src="../html/test_body.html" frameborder="0" width="100%" height="500"></iframe>
    </main>

    <!-- 하단 -->
    <footer>
        <hr>
        <p>하단</p>
    </footer>
</body>
</html>